@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,900);

/* CSS RESET FOR BROWSER COMPATIBILITY */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
    list-style-type: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */

* {
    box-sizing: border-box;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}
.container:after{
    content: "";
    clear: both;
    display: block;
}

.grid-2{width:50%;}
.grid-3{width: 33.33%;}
.grid-4{width: 25%;}

[class*="grid-"]{
    float: left;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
    float: left;
    padding: 15px;
}

.row{clear: both;}
.row:after{
    content: "";
    clear: both;
    display: block;
}

.center-text{text-align: center;}
.left-text{text-align: left;}
.right-text{text-align: right;}
.justify-text{text-align: justify;}

.light-text{font-weight:300;}
.regular-text{font-weight:400;}
.black-text{font-weight:900;}

body, input{
    color: #222;
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
}

h1{
    font-size: 3em;   
}
h2{
    font-size: 2em;   
}
h3{
    font-size: 1em;   
}

.hide-on-desktop{
    display: none;   
}

img{
    width: 100%;
    height: auto;
}
nav{
    background: #222;
    height: 120px;
}
nav img{
    padding: 20px 0px;
    height: 120px;
}

button,input[type="submit"]{
    font-size: 1em;
    font-weight: 900;
    background: #3498db;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: .25s background;
    border: none;
}

button:hover{
    background: #3cb0fd;
}
@media only screen and (max-width: 768px) {
    [class*="col-"]{
        width: 100%;
    }
    [class*="grid-"]{
        width: 100%;   
    }
    .hide-on-mobile{
        display: none;
    }
    .hide-on-desktop{
        display: block;   
    }
}